@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background: #0d011f;
    color: #e5e7eb;
    margin: 0;
}

.gradient-text {
    background: linear-gradient(45deg, #FFC0CB, #A7C7E7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 900;
}

header {
    padding: 2rem 1rem;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-page a svg {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
