---

---

<section class="giscus mx-auto mt-10 w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="PLACEHOLDER_REPO"
  data-repo-id="PLACEHOLDER_REPO_ID"
  data-category="Blog Post Comments"
  data-category-id="PLACEHOLDER_CATEGORY_ID"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>

<style>
  section {
    margin-top: 3rem;
  }
</style>
