@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Nunito', sans-serif;
        background: #0d011f;
        color: #e5e7eb;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    .prose img {
        @apply block mx-auto my-8 rounded-2xl border border-kawaii-pink;
    }
}

@layer components {
    .gradient-text {
        @apply font-black;
        background: linear-gradient(45deg, #FFC0CB, #A7C7E7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    header {
        padding: 2rem 1rem;
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .contact-page a svg {
        display: inline-block;
        vertical-align: middle;
        margin-top: -2px;
    }
}
